# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Prima-Adventure.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Nicolas\Local\Travail\projects\Epitech\hub\Prima-Adventure\.idea\.idea.Prima-Adventure\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
